<h3>{{#link-to 'article' article.id}}{{article.title}}{{/link-to}}</h3>
<p>{{article.author}}</p>
<p>{{article.timestamp}}</p>
<p>{{article.category}}</p>
{{update-article article=article update="update"}}
<button {{action 'delete' article}}>Delete</button>
