<h1>New Article</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="timestamp">Timestamp</label>
        {{input type="date" value=timestamp id="timestamp"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="story">Story</label>
        {{textarea value=story id="story"}}
      </div>

      <div class="form-group">
        <label for="category">category</label>
        {{input value=category id="category"}}
      </div>

      <button {{action 'save'}}>Save</button>
    </form>
  </div>
